[Desktop Entry]
Name=System Monitor
Exec=cosmic-ext-applet-system-monitor %F
Terminal=false
Type=Application
StartupNotify=true
Icon=dev.DBrox.CosmicSystemMonitor-symbolic
Categories=COSMIC;Iced;System;Monitor;
Keywords=Monitor;System;Process;CPU;Memory;Network;History;Usage;
NoDisplay=true
X-CosmicApplet=true
X-CosmicHoverPopup=Auto
